
<head>
  <script type="text/javascript" src="canvasjs.min.js"></script>
</head>
<body>
  
<div class="page">
  <div *ngIf="loading" class="loading" ></div>
<div class="navBar">
    <div class="site-nav">
        <ul class="group">
          <li class="dropdown"><a href="#">Graphs</a>
            <div class="dropdown-content">
              <a (click)= "clickMePercent()">Project's tasks progress</a>
              <a (click)= "clickMeProfitPerProject()">Profit/Loss per project</a>
              <a (click)= "clickMeProfitPerClient()">Profit/Loss per client</a>
            </div></li>
        </ul>
    </div>
    <div class="clr"></div>
  </div>

 <div class="graph">
    <div id="chartContainer" ></div>
    
  </div>
  <div>
    <!--<div> <button (click)="clickMe()">fasdfsa</button></div>-->
  </div>
</div>
</body>


